/*BODY*/

body
{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
    
/*HEADER*/
    
header
{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 15%;
    width: 100%;
    background-color: #50575E;
    position: relative;
}
    
/*HEADER GAUCHE*/
    
#header-gauche
{
    display: flex;
    flex-direction: row;
    justify-content:  center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 50%;
}
    
#logo
{
    margin: 0;
    padding: 0;
    width: 95px;
    height: 95px;
}

.a-logos:hover

{
    transform: scale(1.1);
}
    
/*HEADER DROIT*/
    
#header-droit
{
    padding : 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%; 
}
    
/*BARRE NAVIGATION HEADER*/
    
nav
{
    margin: 0;
    padding: 0;
}

nav ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li
{
    position: relative;
    display: inline-block;
}
nav a
{
    display: block;
    background-color: transparent;
    text-decoration: none;
    color: #50575E;
    padding: 5px;
}

nav li #a-deroulant
{
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: courier;
}

#ul-sous
{
    display: none;
    background-color: white;
    position: absolute;
    text-align: center;
    font-family: courier;
}

nav ul li:hover #ul-sous
{
    display: block;
    width: 155px;
}

#ul-sous li
{
    width: 100%;
    text-align: center;
}

#ul-sous:hover
{
    box-shadow: 1px 2px 3px #50575E;
}

#ul-sous:hover li:hover
{
    transform: scale(1.1);
}

/*MAIN*/

main
{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

video
{
    width: 455px;
    height: 255px;
    margin: 15px;
    padding: 15px;
}

/*FOOTER*/

footer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #50575E;
    position: fixed;
    margin: 0;
    padding: 0;
    height: 15%;
    width: 100%;
}

/*FOOTER GAUCHE*/

#footer-gauche
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 50%;
}

/*MENU FOOTER*/

#ul-footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.li-footer
{
    margin: 5px;
    padding: 0;
    display: flex;
    align-items: center;
}

.a-footer
{
    margin: 0;
    padding: 0;
    display: block;
    background-color: transparent;
    width: 85px;
    text-decoration:none;
    text-align:center;
    color: white;
    font-size: 13px;
    font-family: courier;
}

/*FOOTER DROIT*/

#footer-droit
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    margin: 15px;
    padding: 0;
    width: 50%;
}

.logos
{
    width: 35px;
    height: 35px;
    margin: 5px;
    padding: 5px;
}

.a-logo:hover

{
    transform: scale(1.1);
}